---
import Steps from '@/components/widgets/Steps.astro';
---

<Steps
  id="resume"
  title="Education"
  items={[
    {
      title: `Master of Fine Arts in Graphic Design <br /> <span class="font-normal">New York University's School of Design</span> <br /> <span class="text-sm font-normal">2018 - 2020</span>`,
      icon: 'tabler:school',
    },
    {
      title: `Bachelor of Arts in Graphic Design <br /> <span class="font-normal">New York University's School of Design</span> <br /> <span class="text-sm font-normal">2014 - 2018</span>`,
      icon: 'tabler:school',
    },
  ]}
  classes={{ container: 'max-w-3xl' }}
/>
