---
import Steps from '@/components/widgets/Steps.astro';
---

<Steps
  id="resume"
  title="Education"
  items={[
    {
      title: `Master of Fine Arts in Graphic Design <br /> <span class="font-normal">New York University's School of Design</span> <br /> <span class="text-sm font-normal">2021 - 2025</span>`,
      icon: 'tabler:school',
    },
  ]}
  classes={{ container: 'max-w-3xl' }}
/>
