---
import { Icon } from 'astro-icon/components';
---

<div class="flex flex-row max-w-xl justify-around animate-bounce-slow">
  <a href="https://github.com/kanjurer" target="_blank">
    <Icon
      name="tabler:brand-github"
      class="size-20 transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-500"
    />
  </a>
  <a href="https://linkedin.com/in/kanav-bhardwaj" target="_blank">
    <Icon
      name="tabler:brand-linkedin"
      class="size-20 transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-500"
    />
  </a>
  <!-- <a href="https://www.gmail.com" target="_blank">
    <Icon name="tabler:brand-gmail" class="size-20 hover:animate-pulse" />
  </a> -->
</div>
