---

---

<h1 id="big-name" class="font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
  <span class="font-mono text-7xl text-blue-500">this</span>
  <span class="font-mono text-7xl">.</span>
  <span class="font-mono text-7xl text-pink-400">Kanav()</span>
</h1>

<script async>
  const words = ['this', '.', 'Kanav()'];
  let i = 0;
  let j = 0;
  let currentWord = '';
  let parentEl = document.getElementById('big-name');
  // reset the text first
  for (let k = 0; k < 3; k++) {
    parentEl.children[k].textContent = '';
  }
  let childEl;
  function type() {
    currentWord = words[i];
    childEl = parentEl.children[i];
    childEl.textContent = currentWord.substring(0, j + 1);
    j++;
    if (j === currentWord.length) {
      j = 0;
      i++;
      if (i === words.length) {
        i = 0;
        j = 0;
        childEl = null;
        currentWord = '';
        return;
      }
    }
    setTimeout(type, 100);
  }
  type();
</script>
