---
import Layout from '@/layouts/PageLayout.astro';

import Pfp from '@/assets/images/pfp.png';
import Header from '@/components/widgets/Header.astro';
import Hero from '@/components/widgets/Hero.astro';
import Content from '@/components/widgets/Content.astro';
import WorkExperience from '@/components/landing/WorkExperience.astro';
import Education from '@/components/landing/Education.astro';
import BlogLatestPosts from '@/components/landing/BlogLatestPosts.astro';
import Projects from '@/components/landing/Projects.astro';
import { getPermalink } from '@/utils/permalinks';

const metadata = {
  title: 'kanjurer website',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'About', href: '#about' },
        { text: 'Resume', href: '#resume' },
        { text: 'Porfolio', href: '#porfolio' },
        { text: 'Blog', href: '#blog' },
        { text: 'Github', href: 'https://github.com/kanjurer' },
      ]}
      actions={[
        {
          text: 'Resume',
          href: '/resume-pdf',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <Hero
    id="hero"
    title="Sarah Johnson"
    tagline="Personal Web Demo"
    actions={[{ variant: 'primary', text: 'Hire me', href: getPermalink('/contact#form') }]}
  >
    <Fragment slot="subtitle">
      I'm a Graphic Designer passionate about crafting visual stories. <br /> With 5 years of experience and a degree from
      New York University's School of Design. I infuse vitality into brands and designs, transforming concepts into captivating
      realities.
    </Fragment>
  </Hero>

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-dribbble',
        callToAction: {
          target: '_blank',
          text: 'Dribbble',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-behance',
        callToAction: {
          target: '_blank',
          text: 'Behance',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-pinterest',
        callToAction: {
          target: '_blank',
          text: 'Pinterest',
          href: '#',
        },
      },
    ]}
    image={{
      src: Pfp,
      alt: 'Colorful Image',
      loading: 'eager',
    }}
    isReversed
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
      <p>
        Welcome to my creative journey. My work is a testament to my commitment to bringing ideas to life, where each
        pixel becomes a brushstroke in the canvas of imagination.
      </p>
      <br />
      <p>
        I find inspiration in the world around me, whether through the pages of a captivating novel, the intricate
        details of typography, or the vibrant hues of nature during my outdoor escapades.
      </p>
      <br />
      <p>If you're curious to dive deeper into my work, you can follow me:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <WorkExperience />
  <Education />
  <Projects />
  <BlogLatestPosts />
</Layout>
