---

---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <img src="https://gifimgs.com/animations/transportation/rockets-and-shuttles/Large_rocket.gif" width="50px" />
</span>
